@media screen and (min-width: 768px) and (max-width: 992px) {
  .header {
    text-align: left;
  }

  .header h1 {
    padding-left: 10px;
  }

  .recipe-section .card-info ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .recipe-section .card-info li {
    width: calc((100% - 20px) / 3);
  }
  .recipe-section .card-info h3 {
    padding-bottom: 30px;
  }
  .recipe-section .container span {
    display: inline-block;
  }
  .recipe-section .container #pretext {
    padding-top: 50px;
  }
  .recipe-section .container #hide {
    display: inline-block;
  }
}

@media screen and (min-width: 992px) {
  .recipe-section .row.flex {
    flex-direction: row;
  }

  .recipe-section .col-1 {
    width: 70%;
  }

  .recipe-section .col-2 {
    width: 30%;
  }

}
