@media screen and (min-width: 768px) and (max-width: 992px) {
  .header {
    text-align: left;
  }

  .header h1 {
    padding-left: 10px;
  }

  .recipe-section .card-info ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .recipe-section .card-info li {
    width: calc((100% - 20px) / 3);
  }
  .recipe-section .card-info h3 {
    padding-bottom: 30px;
  }
  .recipe-section .container span {
    display: inline-block;
  }
  .recipe-section .container #pretext {
    padding-top: 50px;
  }
  .recipe-section .container #hide {
    display: inline-block;
  }
  .recipe-section .container h2 {
    font-size: 2rem;
  }
  .social-icons li {
    padding: 8px 50px 8px 50px;
  }
  #banner {
    display: block;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .description-section img {
    width: 40%;
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
  }
  .description-section p{
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media screen and (min-width: 992px) {
  .recipe-section .container h2 {
    font-size: 2.5rem;
  }
  .recipe-section .container #hide {
    display: inline-block;
  }
  .recipe-section .row.flex {
    flex-direction: row;
  }

  .recipe-section .col-1 {
    width: 70%;
  }

  .recipe-section .col-2 {
    width: 30%;
  }
  #banner {
    display: block;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .social-icon-text {
    display: inline-block;
    font-weight: bold;
  }
  .social-icons li {
    padding: 8px 30px 8px 30px;
    border-radius: 40px;
  }
  .description-section img {
    width: 30%;
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
  }
  .description-section p{
    font-size: 1.3rem;
    line-height: 1.8rem;
  }
}
